body { 
    margin: 0; 
    padding: 0; }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#statbox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 220px;
  background: #343a40;
  margin-right: 20px;
  margin-bottom: 340px;
  padding: 10px 20px 10px 10px;
  border-radius: 3px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #000;
  text-align: center;
  color: #fff;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  z-index: 2;
}

/* navbar loads on top */
.navbar {
    z-index: 2;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a.active {
    font: bold;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 220, 148, 0.8);
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 10px;
    
}

#features {
    top: 0;
    height: 150px;
    margin-top: 20px;
    margin-left: 1000px;
    width: 300px;
}
.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

