body { 
    margin: 0; 
    padding: 0; }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the layout of the legend panel */
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    height: 220px;
    background: #343a40;
    margin-right: 20px;
    margin-bottom: 340px;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    text-align: center;
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    z-index: 2;
}

/* navbar loads on top */
.navbar {
    z-index: 2;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.break {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: #fff;
    margin-left: 5px;
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* basic style for a dot/circle */
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    opacity: 1;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #fff;
}

a.active {
    font: bold;
}

#info {
    z-index: 1000;
    position: absolute;
    width: 400px;
    top: 10%;
    bottom: 5%;
    left: 1%;
    padding: 10px;
    background: #343a40;
    color: white;
}

#title {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#title span {
    font-size: 14px;
    float: right;
    margin-right: 10px;
}

#desc {
    text-align: center;
    color: lightgray;
    background: #343a40;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
}

#report-count {
    margin: 0;
    text-align: center;
    color: orange;
    font-size: 50px;
}

#report-chart {
    top: 20px;
}

.dropdown {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}