body { 
    margin: 0; 
    padding: 0; }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the layout of the legend panel */
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 250px;
    background: #717891;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    text-align: center;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    z-index: 2;
}

/* navbar loads on top */
.navbar {
    z-index: 2;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.break {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: #fff;
    margin-left: 5px;
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* basic style for a dot/circle */
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: 0px;
    opacity: 1;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #fff;
}

a.active {
    font: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

